@media (max-width: 480px) {
    .bio-feed-container {
        background-color: whitesmoke;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        font-family: 'Roboto', sans-serif;
    }

    .bio-feed-container h6,
    .bio-feed-container p {
        margin: 0;
        padding: 0;
    }

    /* DETAILS */
    .bio-feed-details-item {
        padding: 15px 10px;
        border-bottom: 1px solid lightgrey;
    }

    .bio-feed-details-item h6 {
        font-weight: bold;
        margin: 0;
    }

    .bio-feed-details-item p {
        margin: 0;
    }

    .bio-feed-rating {
        display: flex;
        align-items: center;
    }

    .bio-feed-rating>h6 {
        margin-right: 5px;
    }

    .bio-feed-bio {
        position: relative;
    }

    .bio-feed-bio {
        position: relative;
    }

    .bio-content {
        max-height: calc(1.2em * 9);
        overflow: hidden;
        margin-bottom: 1em;
        position: relative;
    }

    .see-more {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: transparent;
        border: none;
        color: blue;
        cursor: pointer;
        margin-top: 0.5em;
        white-space: nowrap;
    }

    .see-more::before {
        content: "...";
    }

    .bio-feed-full-bio {
        position: relative;
        padding: 10px;
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        text-align: center;
        border: 1px solid #000;
        ;
        border-radius: 50%;
    }

    .close-button>button {
        font-size: 18px;
        background: none;
        color: #000;
        cursor: pointer;
    }

    .full-bio-text {
        position: relative;
        top: 30px;
    }
}